#topCol {
    background-color:gray;
    height: 250px;
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
}
#text {
    color: white;
}
#bottomLeftCol {
    background-color:#ff7b00;
    margin-top: 10px;
    height: 250px;
    margin-right: 5px;
    font-size: larger;

}

#bottomRightCol {
    background-color:gray;
    margin-top: 10px;
    height: 250px;
    margin-left: 5px;
    font-size: larger;

}

#catPic, #signupPic {
    float: right;
    top: 0px;
    right: 0px;
}
#flexCol {
  display: flex;
  justify-content: center;
  width: 100px;
}
#flexDiv {
  display: flex;
  justify-content: flex-start;
}

#signupPic {
    width:200px; /* you can use % */
    height: auto;
}

#loginHeading {
    text-align:left;
    float: left;
    align-items: flex-start;
}

#useHeading {
    text-align: right;
    float: right;
    align-items: flex-end;

}


#aboutHeading {
    text-align: center;
}

@media (max-width: 992px) {
    #bottomRightCol {
        margin-left: 0px;
    }
    #bottomLeftCol {
        margin-right: 0px;
    }
    #text {
        font-size: larger;
    }
    #catPic, #signupPic {
        visibility: hidden;
    }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #171627;
  color: white;
  height: 100px;
  width: 100%;
}

footer p {
  margin: 0;
}

footer img {
  margin-top: 4px;
}

footer a {
  color: white;
  text-decoration: underline;
}

.card .btn-link {
  padding: 0;
  border: 0;
}

a, .btn-link {
  color: #0051a9;
}

.btn-primary {
  background-color: #1e67b5;
}

.btn-primary:hover {
  background-color: #2c547d;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > .container {
  flex: 1 0;
}

#suggest-idea-form {
  padding: 8px;
  background-color: #eee;
  border: 2px solid #555;
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    text-align: center;
  }
}
